@media print {
    body, html {
        float: none !important;
        overflow: visible !important;
        padding: 0 !important;
        margin: 0 !important;
        position: relative;
        top: -50px;
    }
    .ibox-footer, .form-group, .ibox-title, .page-heading, .border-bottom, .modal, .nerodyt {
        display: none;
        float: none !important;
        overflow: visible !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    div, span, h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        background: transparent;
    }

    *:after {
              content:none;
          }

    form {
        display: none;
    }
    .ibox-content {
        border-style: none;
    }
}


/* kalendorius */

.calendar {
    width: 100%;
    min-width: 960px;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #505050;
    margin: 0 0 10px 0;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 10px;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    border:1px solid #CCC;
    height: 100px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
}

.calendar td:hover {
    background: #F3F3F3;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #2C2C2C;
    padding: 5px 5px 0 0;
}

div.today {
    background: #E9EFF7;
    height: 100%;
}



/* lentele texto lygiavimas per viduri */
table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
    vertical-align: middle !important;
    /*border-color: lightskyblue !important;*/
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}


